# dependencies
node_modules/
.pnp/
.pnp.js

# next.js
.next/
out/

# env files
.env
.env.local
.env*.local

# logs
*.log

# misc
.DS_Store
Thumbs.db

# vercel
.vercel

# Local Netlify folder
.netlify
